*{
    box-sizing: border-box;
}

body{
    background-color: grey;
    color: white;
}

#logo{
    margin-top: 18px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: white;
opacity: 0.6; /* Firefox */
font-family: 'Acme', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
font-family: 'Acme', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white;
font-family: 'Acme', sans-serif;
}

h1{
    font-size: 35px;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    margin-top: 105px;
}

.theinput{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 177px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.theinput:focus{
    width: 300px;
    border-bottom: 2px solid white;
}

.content{
    padding-bottom: 75px;
}

form{
    margin-top: 20px;
    width: 400px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 0.1px;
}

button{
    font-family: 'Acme', sans-serif;
    width: 250px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgba(255, 215, 0, 0);
    border-color: white;
    border-width: 1px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 50px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

button:hover{
    background-color: white;
    color: black;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

button:focus{
    outline: 0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 570px){
    h1{
        margin-top: 0px;
    }

    form{
    margin-top: 0px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding-top: 0px;
    }
}
